.container
  -@all_logos.each do |logo|
    .col-sm-12
      %table.table.table-hover.table-striped
        %tbody
          %tr
            %td= image_tag(logo.url, :class=>"seller_logo_size")



%br

= form_for "shop_logo",:url => {controller:'shop', action:'create_shop_logo'}, :html => {:multipart => true} do |f|
  %div
    = f.label "新建logo"
    %br
    = f.file_field :image
    = f.hidden_field :image_cache
    %br
    = f.submit value:"提交logo"

= will_paginate @all_logos ,:previous_label => '上一页' , :next_label => '下一页', renderer: BootstrapPagination::Rails